* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
ul,
li,
ol {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  flex: 0 0 auto;
  padding: 0 15px;
}
.max-width {
  max-width: 100%;
  display: block;
}
:root {
  --background: #355b3e;
  --white: #ffffff;
  --img-back: #f5dbc4;
  --paragraph-color: #58745e;
  --label-color: #2f3d4c;
  --btn-back: #029664;
  --border: #b8d6bf;
}
body {
  background-color: var(--background);
}
.login-main {
  padding: 0 0 300px 0;
}
.logo-main {
  display: block;
  text-align: center;
  padding: 32px 0;
}
.login-page {
  border-radius: 0px;
  background-color: var(--img-back);
}
.content {
  background-color: var(--white);
  padding: 40px 24px;
  border-radius: 0 0 17px 17px;
}
.logo {
  padding-bottom: 16px;
  display: none;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: var(--background);
  padding-top: 40px;
}
.paragraph {
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph-color);
  padding: 16px 0;
}
.email {
  padding: 16px 0 12px 0;
}
.email label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--label-color);
  padding-bottom: 8px;
}
.email input {
  border: 1px solid var(--border);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--white);
  width: 100%;
  outline: none;
}
.password {
  padding: 12px 0;
}
.password label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--background);
  padding-bottom: 8px;
}
.password input {
  border: 1px solid var(--border);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--white);
  width: 100%;
  outline: none;
}

.checkbox-a-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px 0;
}
.checkbox input {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.checkbox p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: var(--background);
  padding-left: 8px;
}
.checkbox-a-main a {
  color: var(--background);
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}
.buttons {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.login-btn {
  display: inline-block;
  padding: 16px;
  background-color: var(--btn-back);
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  border-radius: 8px;
  border: none;
  width: 50%;
  margin-right: 12px;
}
.SignUp-btn {
  display: inline-block;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: var(--btn-back);
  border-radius: 8px;
  border: 1px solid var(--btn-back);
  background-color: var(--white);
  width: 50%;
  margin-left: 12px;
}
.other-btn {
  padding: 44px 0 26px;
}
.other-btn li {
  display: inline-block;
}
.other-btn li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: var(--background);
  padding: 0 20px;
}
.other-btn li:nth-child(1) a {
  font-weight: 400;
  color: var(--paragraph-color);
  display: inline-block;
  padding-bottom: 12px;
}
.other-btn li:nth-child(1) {
  display: block;
  text-align: center;
}
.image-main {
  padding: 40px 50px;
  background-color: var(--img-back);
}
.margin-auto {
  margin: 0 auto;
}

.center {
  align-items: center;
}
.padding-none {
  padding: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.other-btn li:nth-child(2) {
  text-align: center;
  width: 33%;
}
.other-btn li:nth-child(3) {
  text-align: center;
  width: 33%;
}
.other-btn li:nth-child(4) {
  text-align: center;
  width: 30%;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media (min-width: 640px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .container {
    width: 720px;
  }
  .login-main {
    padding: 100px 0;
  }
  .logo-main {
    display: none;
  }
  .login-page {
    border-radius: 17px;
  }
  .padding-none {
    padding: 0 15px;
  }
  .content {
    border-radius: 17px 0 0 17px;
  }
  .other-btn li:nth-child(1) {
    display: inline-block;
  }


  .logo {
    display: block;
  }
  .order-1 {
    order: 2;
  }
  .order-2 {
    order: 1;
  }
  .content {
    padding: 40px 64px;
  }
  .other-btn li:nth-child(1) a {
    display: inline-block;
    padding: 0;
  }
  .other-btn li a {
    padding: 0 12px;
  }
  .other-btn li:nth-child(2) {
    text-align: center;
    width: 47%;
  }
  .other-btn li:nth-child(3) {
    text-align: center;
    width: 47%;
  }
  .other-btn li:nth-child(4) {
    text-align: center;
    width: 47%;
  }
}
@media (min-width: 1024px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .container {
    width: 960px;
  }
  .other-btn li:nth-child(2) {
    text-align: center;
    
    width: 20%;
  }
  .other-btn li:nth-child(3) {
    text-align: center;
    white-space: nowrap;
    width: 20%;
  }
  .other-btn li:nth-child(4) {
    text-align: center;
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
